{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Admin Website</a></h1>
<button style="color:black;" type="button" name="button"><a style="color:black;" href="http://127.0.0.1:8000/admin/sim/motherboard/">Lihat Data</a></button>
<button style="color:black;" type="button" name="button"><a style="color:black;" href="http://127.0.0.1:8000/admin/sim/motherboard/add/">Tambah Data</a></button>
<button style="color:black;" type="button" name="button"><a style="color:black;" href="http://127.0.0.1:8000/admin/sim/motherboard/5/change/">Ubah Data</a></button>
<button style="color:black;" type="button" name="button"><a style="color:black;" href="http://127.0.0.1:8000/admin/sim/motherboard/5/delete/">Hapus Data</a></button>
<button style="color:black;" type="button" name="button"><a style="color:black;" href="http://127.0.0.1:8000/admin/sim/storage/1/history/">Riwayat Tindakan</a></button>

{% endblock %}

{% block nav-global %}{% endblock %}
