{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    {% if messages %}{% for message in messages %}
      <div {% if message.tags %} class="alert {{ message.tags }}"{% endif %} id="msg" role="alert">
        <h4>{{ message }}</h4>
      </div>
      {% endfor %}
    {% endif %}
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary mb-2" style="margin-right:5px">Login</button>
        <h6>Belum Punya Akun ?<a href="{% url 'accounts:signup' %}"> Daftar</a></h6>
    </form>
  </div>
</div>
{% endblock %}
