{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <form class="form-inline">
        </form>
        <form class="form-inline">
            <button type="submit" class="btn btn-primary mb-2" style="margin-right:5px">Login</button>
          <div class="form-group mb-2">
            <h6>Belum Punya Akun ?<a href="{% url 'accounts:signup' %}"> Daftar</a></h6>
          </div>
        </form>
    </form>
  </div>
</div>
{% endblock %}
