{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>Pilih Hardware</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <br>
          <h4>Jenis Hardware</h4>
          <hr>
          <form class="form-inline" >
            <script language="javascript">
            function SelectRedirect(){
            // ON selection of section this function will work
            //alert( document.getElementById('s1').value);

            switch(document.getElementById('s1').value)
            {

              case "CPU":
              window.location="{% url 'sim:dss_form_cpu' %}";
              break;

              case "RAM":
              window.location="{% url 'sim:dss_form_ram' %}";
              break;
              case "VGA":
              window.location="{% url 'sim:dss_form_vga' %}";
              break;

              case "STR":
              window.location="{% url 'sim:dss_form_str' %}";
              break;

            /// Can be extended to other different selections of SubCategory //////
            default:
            window.location="../"; // if no selection matches then redirected to home page
            break;
            }// end of switch
            }
            //////////////////
            </script>
            </head>
            <body>

            <SELECT style="width: 1050px; height: 40px;" id="s1" NAME="section" onChange="SelectRedirect();">
            <Option value="VGA">Storage</option>
            </SELECT>


          </form>
          <br>
          <h4>Spesifikasi</h4>
          <hr>


            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form form %}

            </form>
            <form action="{% url 'sim:dss_form_str2' %}">
              <button type="submit" style="width: 1050px;" class="btn btn-secondary">Bandingkan</button>
            </form>


          <br>
          <div class="form-group">
            <p><a href="https://pcbuildingparts.herokuapp.com/sim/Storage/post/1/">
            <img  style="margin-right:20px;"width="200px" height="200px" src="https://pcbuildingparts.herokuapp.com/media/storage/c7b5b7dacbecdcdd0e073b761193eef6.1600_dinU9Sk.jpg"></a>
            <input style="width: 820px;" value='Seagate Barracuda Compute 2 TB 3.5" 7200RPM Internal Hard Drive' id="mtb" type="text" name="mtb_name" value="{{ form.mtb_name.value|default_if_none:"" }}"></p>
          </div>
          <div class="form-group">
            <p><a href="https://pcbuildingparts.herokuapp.com/sim/Storage/post/3/">
            <img  style="margin-right:20px;"width="200px" height="200px" src="https://pcbuildingparts.herokuapp.com/media/storage/51fbLQLVJFL.jpg"></a>
            <input style="width: 820px;" value='Western Digital Caviar Blue 1 TB 3.5" 7200RPM Internal Hard Drive' id="mtb" type="text" name="mtb_name" value="{{ form.mtb_name.value|default_if_none:"" }}"></p>
          </div>
          <br>
        </form>
        <br>
        <h4>Bobot</h4>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <h5>Kapasitas memory</h5>
              <hr>
            <select id="cars" style="width: 200px; height: 30px;" name="cars">
              <option value="volvo">1</option>
              <option value="saab">2</option>
              <option value="fiat">3</option>
              <option value="audi">4</option>
            </select>
          </div>
          <div class="col-md-3">
            <h5>Tipe</h5>
              <hr>
            <select id="cars" style="width: 200px; height: 30px;" name="cars">
              <option value="volvo">1</option>
              <option value="saab">2</option>
              <option value="fiat">3</option>
              <option value="audi">4</option>
            </select>
          </div>
          <div class="col-md-3">
            <h5>Cache</h5>
              <hr>
            <select id="cars" style="width: 200px; height: 30px;" name="cars">
              <option value="volvo">1</option>
              <option value="saab">2</option>
              <option value="fiat">3</option>
              <option value="audi">4</option>
            </select>
          </div>
          <div class="col-md-3">
            <h5>Harga</h5>
              <hr>
            <select id="cars" style="width: 200px; height: 30px;" name="cars">
              <option value="volvo">1</option>
              <option value="saab">2</option>
              <option value="fiat">3</option>
              <option value="audi">4</option>
            </select>
          </div>
        </div>
        <br>
        <div class="info">
          <h6>*INFO : Pilih bobot anda dengan ketentuan 1 tidak penting 2 kurang penting 3 penting 4 sangat penting. </h6>
        </div>
        <br>
        <form action="{% url 'sim:dss_res_str' %}">
            <button type="submit" style="width: 1050px;" class="btn btn-secondary" >Proses</button>
        </form>

    </div>
  </div>
{% endblock %}
