{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>Pilih Hardware</h1>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <br>
          <h4>Jenis Hardware</h4>
          <hr>
          <form class="form-inline" >
            <script language="javascript">
            function SelectRedirect(){
            // ON selection of section this function will work
            //alert( document.getElementById('s1').value);

            switch(document.getElementById('s1').value)
            {

            case "CPU":
            window.location="{% url 'sim:dss_form_cpu' %}";
            break;

            case "RAM":
            window.location="{% url 'sim:sim_res' %}";
            break;
            case "VGA":
            window.location="{% url 'sim:sim_post1' %}";
            break;

            case "STR":
            window.location="{% url 'sim:sim_res' %}";
            break;

            /// Can be extended to other different selections of SubCategory //////
            default:
            window.location="../"; // if no selection matches then redirected to home page
            break;
            }// end of switch
            }
            //////////////////
            </script>
            </head>
            <body>

            <SELECT style="width: 1050px; height: 40px;" id="s1" NAME="section" onChange="SelectRedirect();">
            <Option value="CPU">Cpu</option>
            <Option value="VGA">Vga</option>
            <Option value="RAM">Ram</option>
            <Option value="STR">Storage</option>
            </SELECT>


          </form>
          <br>
          <h4>Spesifikasi</h4>
          <hr>


            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form form %}

            </form>
            <form action="{% url 'sim:dss_form_ram1' %}">
              <button type="submit" style="width: 1050px;" class="btn btn-secondary">Bandingkan</button>
            </form>


          <br>

          <br>
        </form>
        <br>
        <h4>Bobot</h4>
        <hr>
        <div class="row">
          <div class="col-md-3">
            <h5>Kecepatan</h5>
              <hr>
            <select id="cars" style="width: 200px; height: 30px;" name="cars">
              <option value="volvo">1</option>
              <option value="saab">2</option>
              <option value="fiat">3</option>
              <option value="audi">4</option>
            </select>
          </div>
          <div class="col-md-3">
            <h5>Jumlah Module</h5>
              <hr>
            <select id="cars" style="width: 200px; height: 30px;" name="cars">
              <option value="volvo">1</option>
              <option value="saab">2</option>
              <option value="fiat">3</option>
              <option value="audi">4</option>
            </select>
          </div>
          <div class="col-md-3">
            <h5>Latency</h5>
              <hr>
            <select id="cars" style="width: 200px; height: 30px;" name="cars">
              <option value="volvo">1</option>
              <option value="saab">2</option>
              <option value="fiat">3</option>
              <option value="audi">4</option>
            </select>
          </div>
          <div class="col-md-3">
            <h5>Harga</h5>
              <hr>
            <select id="cars" style="width: 200px; height: 30px;" name="cars">
              <option value="volvo">1</option>
              <option value="saab">2</option>
              <option value="fiat">3</option>
              <option value="audi">4</option>
            </select>
          </div>
        </div>
        <br>
        <div class="info">
          <h6>*INFO : Pilih bobot anda dengan ketentuan 1 tidak penting 2 kurang penting 3 penting 4 sangat penting. </h6>
        </div>
        <br>
        <form action="{% url 'sim:dss_rest' %}">
            <button type="submit" style="width: 1050px;" class="btn btn-secondary" >Proses</button>
        </form>

    </div>
  </div>
{% endblock %}
