{% extends "base.html" %}
{% block content %}
  <div class="container">
    <form method="GET" action=".">
      <div class="row">
        <form class="form-inline" >
          <input class="form-control col-lg-10" type="search" placeholder="Masukan Nama" name="name_contains" aria-label="Search">
          <button class="btn btn-secondary col-lg-2" type="submit">Cari Ram</button>
        </form>
      </div>
    </form>
    <br>
      <div class="row">
      <div class="table-responsive">
        <table class="table table-striped" style="font-size:12px">
          <thead style="text-align:center">
            <th scope="col">Nama</th>
            <th scope="col">Speed</th>
            <th scope="col">Module</th>
            <th scope="col">Volta</th>
            <th scope="col">Warna</th>
            <th scope="col">FW Latency</th>
            <th scope="col">CAS Latency</th>
            <th scope="col">Harga</th>
          </thead>
          <tbody>
            {% for ram in queryset %}
            <tr>

              <td><a href="{% url 'sim:ram_detail' pk=ram.pk %}" style="color:black; padding-top: 30px;"><img style="display: block; float:left; margin-right:15px; width:50px; height:50px"  src="{{ ram.thumb_pic.url}}" alt="{{ ram.name }}">{{ ram.name }}</a></td>
              <td style="text-align:center">{{ram.mem_type}}-{{ram.speed}}</td>
              <td style="text-align:center">{{ram.module}} GB</td>
              <td style="text-align:center">{{ram.voltage}} V</td>
              <td style="text-align:center">{{ram.color}}</td>
              <td style="text-align:center">{{ram.fw_latency}} ns</td>
              <td style="text-align:center">{{ram.cas_latency}}</td>
              <td style="text-align:center">Rp. {{ram.price}}</td>

            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>


      </div>
  </div>
{% endblock %}
