{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>Hasil Simulasi</h1>

        <form enctype="multipart/form-data" >
          {% csrf_token %}
          <div class="form-group">
          <div class="form-group">
            <label for="mtb" >Motherboard</label>
            <p><a href="https://pcbuildingparts.herokuapp.com/sim/motherboard/post/4/">
            <img  style="margin-right:20px;"width="200px" height="200px" src="https://pcbuildingparts.herokuapp.com/media/mtb/9bf978a8545947c14c8ab7b7338f9ae2.1600_ZUpyRVs.jpg"></a>
            <input style="width: 820px;" value="Asus PRIME Z390-A ATX LGA1151 Motherboard" id="mtb" type="text" name="mtb_name" value="{{ form.mtb_name.value|default_if_none:"" }}"></p>
          </div>
          <div class="form-group">
            <label for="vga">Vga</label>
            <p><a href="https://pcbuildingparts.herokuapp.com/sim/vga/post/2/">
            <img  style="margin-right:20px;"width="200px" height="200px" src="https://pcbuildingparts.herokuapp.com/media/vga/9c57e7f04b05270bcf7edb9fcf4c715c.1600.jpg"></a>
            <input style="width: 820px;" value="MSI GeForce GTX 1660 SUPER 6 GB VENTUS XS OC Video Card" id="mtb" type="text" name="mtb_name" value="{{ form.mtb_name.value|default_if_none:"" }}"></p>
          </div>
          <div class="form-group">
            <label for="ram">Ram</label>
            <p><a href="https://pcbuildingparts.herokuapp.com/sim/ram/post/3/">
            <img  style="margin-right:20px;"width="200px" height="200px" src="https://pcbuildingparts.herokuapp.com/media/ram/a00199d12cb22ee1dc33639a754cca79.1600.jpg"></a>
            <input style="width: 820px;" value="G.Skill Ripjaws V 16 GB (2 x 8 GB) DDR4-3600 CL16 Memory" id="mtb" type="text" name="mtb_name" value="{{ form.mtb_name.value|default_if_none:"" }}"></p>
          </div>
          <div class="form-group">
            <label for="storage">Storage</label>
            <p><a href="https://pcbuildingparts.herokuapp.com/sim/Storage/post/3/">
            <img  style="margin-right:20px;"width="200px" height="200px" src="https://pcbuildingparts.herokuapp.com/media/storage/51fbLQLVJFL.jpg"></a>
            <input style="width: 820px;" value='Western Digital Caviar Blue 1 TB 3.5" 7200RPM Internal Hard Drive' id="mtb" type="text" name="mtb_name" value="{{ form.mtb_name.value|default_if_none:"" }}"></p>
          </div>
          <div class="form-group">
            <label for="cpu">Cpu</label>
            <p><a href="https://pcbuildingparts.herokuapp.com/sim/cpu/post/36/">
            <img  style="margin-right:20px;"width="200px" height="200px" src="https://pcbuildingparts.herokuapp.com/media/cpu/f2cacb6e0f6003d798989357654aff3c.1600.jpg"></a>
            <input style="width: 820px;" value="AMD Threadripper 3970X 3.7 GHz 32-Core Processor" id="mtb" type="text" name="mtb_name" value="{{ form.mtb_name.value|default_if_none:"" }}"></p>
          </div>
          <div style="background-color:#dc3545;" class="jumbotron">
            <h3 style="color:white">Terdapat beberapa Hardware yang tidak kompatibel diantaranya :</h3>
            <h3 style="color:white">1. Asus PRIME Z390-A ATX LGA1151 Motherboard (Socket : LGA1151)</h3>
            <h3 style="color:white">2. AMD Threadripper 3970X 3.7 GHz 32-Core Processor (Socket : sTRX4)</h3>
          </div>
          <button type="button" onclick="location.href = '{% url 'sim:sim_post' %}';" class="btn btn-secondary">Lakukan Simulasi Lagi</button>
        </form>
    </div>
  </div>
{% endblock %}
