{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>Pilih Parts</h1>
        <form enctype="multipart/form-data" >
          {% csrf_token %}
          <div class="form-group">
            
          <div class="form-group">
            <label for="mtb">Motherboard</label>
            <p>
            <img  style="margin-right:20px;"width="200px" height="100px" src="https://pcbuildingparts.herokuapp.com/media/mtb/2b2897ac0de148a2935c3277573131b3.1600.jpg"><input style="width: 820px;" value="Gigabyte B450 AORUS M Micro ATX AM4 Motherboard" id="mtb" type="text" name="mtb_name" value="{{ form.mtb_name.value|default_if_none:"" }}"></p>

        </div>
        <div class="form-group">
          <label for="vga">Vga</label>
          <input class="form-control" id="vga" type="text" name="vga_name" value="{{ form.vga_name.value|default_if_none:"" }}">
        </div>
        <div class="form-group">
          <label for="ram">Ram</label>
          <input class="form-control" type="text" id="ram" name="ram_name" value="{{ form.ram_name.value|default_if_none:"" }}">
        </div>
        <div class="form-group">
          <label for="storage">Storage</label>
          <input class="form-control" type="text" id="storage" name="str_name" value="{{ form.storage_name.value|default_if_none:"" }}">
        </div>
        <div class="form-group">
          <label for="cpu">Cpu</label>
          <input class="form-control" type="text" id="cpu" name="cpu_name" value="{{ form.cpu_name.value|default_if_none:"" }}">
        </div>
        <div style="background-color:lightgreen;" class="jumbotron">
          <p>Selamat !!!.</p>
          <p>Hardware anda kompatibel silahkan klik masing masing dari hardware untuk melihat detail dan harga jika anda tertarik.</p>
        </div>
          <button type="button"href="{% url 'sim:sim_post' %}" class="btn btn-secondary" >Lakukan Simulasi Lagi</button>
        </form>
    </div>
  </div>
{% endblock %}
