<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pilih Hardware, Rakit PC sesuai keinginan anda</title>
  </head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Custom styles for this template -->

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

  <body>
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{% url 'index' %}">PCBuildingparts</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Rakit PC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Tutorial</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Daftar Hardware
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">CPU</a>
                  <a class="dropdown-item" href="#">Motherboard</a>
                  <a class="dropdown-item" href="#">Memory</a>
                  <a class="dropdown-item" href="#">Storage</a>
                  <a class="dropdown-item" href="#">VGA</a>
                </div>
              </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Cari Hardware" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Cari</button>
            </form>
            {% if user.is_authenticated %}
            <ul class="navbar-nav mr-right">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Selamat Datang {{user.username}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Profil</a>
                  <a class="dropdown-item" href="{% url 'blog:post_new' %}" >New Post</a>
                  <a class="dropdown-item" href="{% url 'blog:post_draft_list' %}">Drafts</a>
                  <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                </div>
              </li>
            </ul>
            {% else %}
            <ul class="navbar-nav mr-right">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:signup' %}">Daftar</a>
              </li>
            </ul>
            {% endif %}
          </div>
        </div>

      </nav>
    </header>
      {% block content %}
      {% endblock %}
    <footer>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <div class="col-md-4">
              <h1 class="navbar-brand">PCBuildingparts</h1>
            </div>
            <div class="col-md-4" style="padding-top: 40px;">
              <a class="navbar-brand" href="#">Kategori</a>
              <hr style="border: 1px solid white">
              <p style="color:white;">CPU</p>
              <p style="color:white;">Motherboard</p>
              <p style="color:white;">Memory</p>
              <p style="color:white;">Storage</p>
              <p style="color:white;">VGA</p>
            </div>
            <div class="col-md-4" >
              <a class="navbar-brand" href="#">Tentang</a>
              <hr style="border: 1px solid white">
              <p style="color:white;">Email</p>
              <p style="color:white;">Twitter</p>
              <p style="color:white;">Facebook</p>
              <p style="color:white;">Linkedin</p>
            </div>
        </div>
      </nav>
    </footer>
  </body>
  <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script>tinymce.init({selector:'textarea'});</script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
