{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="mytext" style="margin-top:2rem;">
          <h1 class="display-4">Petunjuk Rakitan</h1>
          <p class="lead">Halaman ini akan menjelaskan secara singkat tentang hal hal yang perlu diperhatikan dalam merakit komputer</p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Akses Tutorial</a>
        </div>
      </div>
      <div class="col-md-8">
        <iframe style="width: 100%;" width="700" height="400"  src="https://www.youtube.com/embed/IhX0fOUYd8Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="background" style="background-color:lightgray">
  <div class="container" >
    <h5 style="padding-top: 30px;">Contoh Rakitan</h5>
    <hr style="border: 1px solid black">
    <div class="row">
      <div class="col-md-4">
        <img class="d-block w-100 h-100" src="https://pcbuildingparts.herokuapp.com/media/img/jumbotron1.jpg" alt="" style="padding-top: 35px;">
      </div>
      <div class="col-md-4">
        <img class="d-block w-100 h-100" src="https://pcbuildingparts.herokuapp.com/media/img/jumbotron2.jpg" alt="" style="padding-top: 35px;">
      </div>
      <div class="col-md-4">
        <img class="d-block w-100 h-100" src="https://pcbuildingparts.herokuapp.com/media/img/jumbotron1.jpg" alt="" style="padding-top: 35px;">
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img class="d-block w-100 h-100" src="https://pcbuildingparts.herokuapp.com/media/img/jumbotron1.jpg" alt="" style="padding-top: 35px;">
      </div>
      <div class="col-md-4">
        <img class="d-block w-100 h-100" src="https://pcbuildingparts.herokuapp.com/media/img/jumbotron2.jpg" alt="" style="padding-top: 35px;">
      </div>
      <div class="col-md-4">
        <div class="button" style="padding: 200px 150px 200px 30px">
          <a class="btn btn-primary btn-lg" href="#" role="button">Cek Contoh Rakitan Lainnya</a>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
<div class="container">
  <h5 style="padding-top: 50px;">Blog</h5>
  <hr style="border: 1px solid black"></hr>
    {% block drafts %}
    {% endblock %}
    <br>
    <a style="display: block; margin-left: auto; margin-right: auto;" class="btn btn-primary btn-lg" href="{% url 'blog:post_draft_list' %}" role="button">Lihat Postingan Blog Lainnya</a>
  </div>
  <br>
  <br>
</div>
  {% endblock %}
